openapi: 3.2.0
info:
  title: Gameball Batches API
  description: Gameball REST API v4.0 - Complete API reference for integrating loyalty, gamification, and customer engagement features
  version: 4.0.0
servers:
- url: https://api.gameball.co
security:
- bearerAuth: []
tags:
- name: Batches
paths:
  /api/v4.0/integrations/batch/orders/transactions:
    post:
      summary: Order Transactions Batch Job
      description: 'Retrieve the full transaction history (payments, rewards, refunds) for up to 1,000 orders in a single call. The job runs asynchronously — the endpoint returns a `jobId` immediately. Poll the batch status endpoint to retrieve results.


        **Security:** Requires `apiKey` and `secretKey` headers (secret key required on v4.1; on v4.0 required when High Security Mode is enabled).'
      operationId: batchOrderTransactions
      tags:
      - Batches
      security:
      - apiKey: []
        secretKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - body
              properties:
                body:
                  type: array
                  description: Order IDs to retrieve. Min 1, max 1,000 items.
                  minItems: 1
                  maxItems: 1000
                  items:
                    type: string
                  example:
                  - ORDER-001
                  - ORDER-002
                  - ORDER-003
            examples:
              sample:
                summary: Sample request
                value:
                  body:
                  - ORDER-001
                  - ORDER-002
                  - ORDER-003
      responses:
        '200':
          description: Batch order transactions job initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: number
                    description: The assigned job ID, which is later used for status verification and response retrieval.
                    example: 1748392
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: apikey
    secretKey:
      type: apiKey
      in: header
      name: secretkey
    bearerAuth:
      type: http
      scheme: bearer
