openapi: 3.2.0
info:
  title: Gameball Plants API
  description: Gameball REST API v4.0 - Complete API reference for integrating loyalty, gamification, and customer engagement features
  version: 4.0.0
servers:
- url: https://api.gameball.co
security:
- bearerAuth: []
tags:
- name: Plants
paths:
  /plants:
    get:
      description: Returns all plants from the system that the user has access to
      parameters:
      - name: limit
        in: query
        description: The maximum number of results to return
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Plant response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plant'
      tags:
      - Plants
    post:
      description: Creates a new plant in the store
      requestBody:
        description: Plant to add to the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPlant'
        required: true
      responses:
        '200':
          description: plant response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plant'
      tags:
      - Plants
  /plants/{id}:
    delete:
      description: Deletes a single plant based on the ID supplied
      parameters:
      - name: id
        in: path
        description: ID of plant to delete
        required: true
        schema:
          type: integer
          format: int64
      responses: {}
      tags:
      - Plants
components:
  schemas:
    Plant:
      required:
      - name
      type: object
      properties:
        name:
          description: The name of the plant
          type: string
        tag:
          description: Tag to specify the type
          type: string
    NewPlant:
      allOf:
      - $ref: '#/components/schemas/Plant'
      - required:
        - id
        type: object
        properties:
          id:
            description: Identification number of the plant
            type: integer
            format: int64
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: apikey
    secretKey:
      type: apiKey
      in: header
      name: secretkey
    bearerAuth:
      type: http
      scheme: bearer
